* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.logo_area h2 {
  font-size: 30px;
  color: #1e1e1e;
  font-weight: 800;
  letter-spacing: 1px;
}

.logo_area img {
  width: 5%;
}

.header_area {
  display: flex;
  justify-content: space-around;
  margin: 5% 0% 5% 0%;
}

.logo_area {
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.nav_area {
  margin-right: 13%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.nav_area ul {
  display: flex;
}

.nav_area ul li {
  align-items: center;
  display: flex;
  margin: 0% 10% 0% 0%;
  font-size: 20px;
  font-weight: 800;
}

.nav_area ul li a {
  color: #1e1e1e;
  text-wrap: nowrap;
}

.hero_img img {
  width: 100%;
  border-radius: 20%;
}

.hero_text h1 {
  font-size: 80px;
  font-family: math;
  color: #1e1e1e;
}

.banner_area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5%;
}

.hero_text {
  width: 40%;
}

.hero_img {
  width: 40%;
}

.card_img img {
  width: 50%;
  border-radius: 50%;
}

.card_section {
  display: flex;
  align-items: center;
  text-align: center;
}

.card1 {
  border: 1px solid #f1f1f1;
  background: #fefefe;
  box-shadow: 3px 1px 8px 5px #efefef;
  padding: 2%;
  border-radius: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card_img {
  width: 100%;
}

.card_area {
  margin-left: 5%;
}

.description {
  width: 60%;
  margin-top: 5%;
}

.description h3 {
  margin-bottom: 2%;
  font-size: 30px;
  font-weight: 800;
}

.description p {
  font-size: 16px;
  width: 100%;
  letter-spacing: 2px;
}
